# Node & Build
node_modules/
dist/
build/
.cloud_storage_bucket/
.env
coverage/
*.log
npm-debug.log
yarn-error.log

# OSX
.DS_Store

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android / Gradle
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# Metro / Fastlane / CocoaPods
*.jsbundle
**/Pods/
/vendor/bundle/
.metro-health-check*
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Gradle binary distributions (large files)
**/*.zip
android/gradle/wrapper/*.zip
